<!doctype html>
<html>
<head>
	<title>This is the title of the webpage!</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<nav>
	<ul>
		<a href="/"><li><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li></a>
		<a href="/page2/"><li>1</li></a>
		<a href="/page3/"><li>2</li></a>
	</ul>
</nav>
<div class="col-md-6 col-md-offset-3">

<%= yield %>

</div>
</body>
</html>