<!doctype html>
<html>
<head>
	<title>This is the title of the webpage!</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<h1 class='col-md-6'>Skillet Kingdom <small>Breakfast Palace</small></h1>
	<nav class='col-md-6'><ul>
		<a href="/"><li><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li></a>
		<a href="/page2/"><li>1</li></a>
		<a href="/page3/"><li>2</li></a>
	</ul></nav>

	<div class="col-md-6 col-md-offset-3">
		<%= yield %>
	</div>
</div>
</body>
</html>