@font-face {
  font-family: "glyphicon";
  src: url(/fonts/glyphicons-halflings-regular.ttf) format("truetype");
}

li {
	list-style: none;
}

body {
	padding-top: 70px;
}

img {
	display: block;
	margin: 20px auto;
	border-radius: 6px;
	border: 1px solid #666;
}

a {
	font-size: 1.3em;
}

blockquote {
	display: inline-block;
	text-align: left;
	list-style: none;
}

h1 {
	border-right: 3px solid #ddd;
	border-left: 3px solid #ddd;
	text-align: center;
	margin-bottom: 30px;
}

h2 {
	clear: both;
	text-align: left;
	padding: 20px 50px 20px 50px;
	border-bottom: 1px solid #ccc;
}

h3 {
	font-size: 10pt;
	font-weight: 900;
}

nav {
	text-align: center;
	margin-bottom: 40px;
	font-size: 20px;
}

nav ul {
	padding-left: 0;
}

nav li {
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	background: #acf;
	width: 60px;
	height: 60px;
	padding-top: 12px;
	border-radius: 60px;
	text-align: center;
	padding-right: 2px;
}

nav li:hover {
	background: #8be;
}

.cat-pictures {
	max-width: 600px;
	max-height: 480px;
}